@font-face {
    font-family: "HindGuntur", "PTSans", "PTSans-Bold";
    src: url(/font/HindGuntur-bold.ttf) format("truetype");
    src: url(/font/PTSans-Regular.ttf) format("truetype");
    src: url(/font/PTSans-Bold.ttf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    /* font-family: "HindGuntur",  sans-serif; */
}
:root {
    --header: #EE8E13;
    --main-bg: #E5E5E5;
    --footer: #0D0D0D;
    --card: #f2f2f2;
    --blue: #263C6D;
    --green: #64C133;
    --test: #2A3C52;
    --font-headline: "PTSans", arial, sans-serif;
    /* --font-para: 'Roboto', sans-serif; */
    --font-para: "HindGuntur", sans-serif;
}
/* .main-container {
    display: block;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
} */

/* Main Grid */
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
    color: #ffff;
    background-color: #E5E5E5;
}
header {
    grid-area: header;
    background-color: var(--test);
    font-family: "PTSans-bold";
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 140px;
    margin-bottom: 10px;
}
main {
    grid-area: main;
    background-color: var(--main-bg);
    color: #000;
    
}
footer {
    grid-area: footer;
    background-color: var(--footer);
    color: #fff;
}
h1 {
    font-family: var(--font-headline);
    font-size: 1.5rem;
}
h2 {
    font-family: var(--font-headline);
    font-size: 1.1rem;
}
p {
    font-family: var(--font-para);
    font-size: 0.9rem;
}
label {
    font-family: var(--font-para);
}

/* header - logo */
.header-logo {
    width: 200px;
    height: auto;
    display: block;
}

/* header - navigation - hamburger menu */
/* new */
.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
    min-height: 74px;
    position: relative;
  }
  
  .logo-container {
    /* margin: auto; */
    /* // trenger ikke */
    margin-left: 10px;
  }
  
  
  .nav-bar {
    /* padding-right: 10px; */
    position: absolute;
    right: 10px;
    top: 35%; 
    /* ved større skjermer ta top lengre ned */
    text-align: center;
  }

/* old */
/* .header-container {
    display: grid;
    grid-template-columns: auto;
}
.logo-container {
    margin: auto
}
.nav-bar {
    min-height: 70px;
    color: fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
} */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
li {
    list-style-type: none;
    padding: 5px 5px;
}
.nav-menu a {
    color: #fff;
    text-decoration: none;
}

/* hover link */
.nav-link {
    transition: 0.5s ease-in;
    padding: 10px 10px;
}
.nav-link:hover {
    box-shadow: #fff 1px 1px;
    transition: 0.5s ease-in;
    
}
#active {
    box-shadow: #fff 1px 1px;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.hamburger-bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
/* main content */
.loader {
    width: 50px;
    height: 50px;
    border: 10px solid rgba(0, 0, 0, 0.788);
    border-bottom-color: var(--test);
    border-radius: 50%;
    display: block;
    animation: rotate 1s linear infinite;
    margin: 10% auto;
}


/* .service-container {
    position: relative;
    margin: 0 auto;
}
.services {
    display: block;
    margin: auto;
} */
.card-container {
    display: grid;
    grid-template-rows: repeat( auto-fit, 1fr ); /* funker bedre uten auto-fit */
    grid-template-areas: 
    "img headline"
    "img text";
    background-color: brown;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.2);
    margin: 8px 10px;
}
.image {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.card-image {
    position: relative;
    grid-area: img;
    /* må endre widht i media q */
    width: 125px;
}
.card-image:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}
.card-headline {
    grid-area: headline;
    text-align: center;
    padding-top: 5px;
    height: fit-content;
}
.card-text {
    grid-area: text;
    padding: 5px 0 10px;
}
.card-container h2{
    font-size: 0.8rem;
}
.card-container p{
    font-size: 0.5rem;
    padding: 0 10px;
}
/* Zoom image */
#zoom-bg {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: none;
    cursor: pointer;
    justify-items: center;
    justify-content: center;
}
#zoom-bg.popup {
    display: flex;
}
#popupImage {
    width: 80vw;
    height: auto;
    display: block;
    margin: auto;
}


button {
    box-sizing : content-box;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color:#fff;
    transition: all 0.2s;
    width: 60px;
    height: 20px;
    font-family: var(--font-para);
}
button:hover {
    background-color:rgba(0, 0, 0, 0.637);
    color: #fff;
    /* border: 1px solid rgba(255, 255, 255, 0.308); */

}

/* Footer */
footer {
    min-height: 60px;
    margin-top: 10px;
}
.footer-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    font-size: 15px;
    height: 100%;
    position: relative;
    grid-template-areas: "one two three";
  }
  
  .footer-left {
    font-size: 0.5rem;
    grid-area: one;
    margin-left: 10px;
  }
  .footer-center {
    grid-area: two;
    text-align: center;
    justify-content: center;
    font-size: 0.5rem;
  }
  .footer-center p {
      font-size: 0.9rem;
  }
  .footer-right {
    grid-area: three;
    flex-direction: row-reverse;
    margin-right: 10px;
  }
.footer-container div {
    display: flex;
    align-items: center;
    /* margin: auto; */
}
footer a {
    text-decoration: none;
    color: #fff;
    
}
.fa-brands {
    color: #fff;
    font-size: 25px;
    
}
.fa-brands:hover {
    transform: rotate(-25deg);
    transition: all 1s;
    color: #769cf0;
}
.fa-facebook {
    margin-left: 5px;
}

/* error catch */
.catch-err {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
.catch-err a {
    display: inline;
}
.back-btn {
    width: 150px;
    height: auto;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* media Q */
@media only screen and (max-width: 768px) {
    /* Navigation */
    .hamburger-menu {
        display: block;
    }
    .hamburger-menu.active .hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.active .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        z-index: 99;
        position: fixed;
        right: -100%;
        top: 140px;
        gap: 0;
        flex-direction: column;
        background-color: #0d0d0dd7;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .nav-menu a {
        color: #ffffff;
        gap: 60px;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-link {
        transition: 0.3s ease;
        padding: 10px 10px;
        border: none;
        box-shadow: 0;
    }
    .nav-link:hover {
        transition: 0.3s ease;
        padding: 10px 10px;
        border: none;
        box-shadow: none;
    }
    #active {
        box-shadow: #fff 1px 1px;
    }
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
    }
    label {
        font-size: 1.5rem;
    }

}